*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,html{
	background-color: #fff;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	display: block;
	font-size: 50px;
	font-style: normal;
	margin: 10px 0;
	color: rgb(18,183,245);
	font-family: 'iconfont';
}
h3{
	margin: 10px 0;
}

.container{
	width: 1200px;
	margin: 0 auto;
	font-size: 16px;
	color: #333;
	background-color: #f5f5f5;
}

header{
	height: 50px;
	display: flex;
	background-color: #fff;
	align-items: center;
	margin-bottom: 20px;
}
header h1{
	width: 300px;
	font-size: 30px;
	letter-spacing: 5px;
	color: deepskyblue;
	text-align: center;
}
header .head_nav{
	display: flex;
	justify-content: space-around;
	flex: 1;
}

img{
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.ttf') format('truetype');
}
.head_nav .item,h1{
	cursor: pointer;
}
.head_nav .item:hover{
	font-size: 20px;
	color: #000;
	font-weight: bold;
}
.active{
	font-size: 20px;
	color: rgb(18,183,245);
	font-weight: bold;
}
.title{
	height: 40px;
	border-left: 8px solid;
	border-color: deepskyblue;
	color: #000;
	line-height: 40px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background-color: #fff;
}

footer{
	height: 50px;
	line-height: 50px;
	background-color: #333;
	text-align: center;
	font-size: 20px;
	color: #fff;
	letter-spacing: 4px;
}